
@font-face {
    font-family: 'washington';
    src: url('fonts/Washington-Text-Alternates.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium-sbold';
    src: url('fonts/Titillium-Semibold.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #050505;
    background-image: url("../images/bg3.jpg");
    min-height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "washington" !important;
    font-weight: normal !important;
    color: white;
    font-size: 5.5em;
    text-shadow: 4px 4px #000;
    margin-left: 180px;
}

.content {
    padding: 20px;
    min-height: 200px;
    max-width: 800px;
    text-align: center;
    border: 10px;
}

.center {
    position: relative;
    float: center;
    margin: 50px auto;
    text-align: center;
}

#username,
#password {
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
}

#loginDiv {
    width: 350px;
    float: center;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 10px 40px 5px;
    height: 11.7em;
    background: rgba(255, 255, 255, 0.15);
    position: relative;
    margin: 50px auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.9em;
    color: white;
    text-shadow: 2px 2px #000;
    font-family: "washington" !important;
    font-weight: normal !important;
}


#loginDiv form
{
    margin-top:8px;
}

#loginDiv input[type=password], #loginDiv input[type=text] {
    width:94%;
    padding:8px;
    margin-top:8px;
    margin-bottom:10px;
    border:1px solid #ccc;
    border-radius: 5px;
    font-size: 30px;
    height: 2.2em;
    position: center;
}

#error-messages {
    color: #66FFFF;
    text-shadow: 2px 2px #000;
}

#submit {
    width: 350px;
    background-color: #FFF;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(112,281,122)),
        color-stop(0.49, rgb(84,224,108)),
        color-stop(0.3, rgb(54,344,80)),
        color-stop(1, rgb(26,297,19))
    );
    color: #000;
    border: 1px solid black;
    padding: 20px;
    font-size: 35px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    top: -45px;
    font-family: "washington" !important;
    font-weight: normal !important;
    box-shadow: -15px 5px 40px #000;
}

#submit:active {
  box-shadow: 2px 2px 15px #FFF !important;
  transform: translateY(1px) !important;
}

#submit:focus { 
  outline:0 !important;
}

#language-button-login {
  width: 90px;
  height: 90px;
  float: right;
  border: 1px solid black;
  margin-right: 20px;
   background: rgba(205, 155, 25, 0.70);
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: -15px 5px 40px #000;
}

#change-theme {
  width: 90px;
  height: 90px;
  float: right;
  border: 1px solid black;
  margin-right: 20px;
   background: rgba(205, 155, 25, 0.70);
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: -15px 5px 40px #000;
}

.imgbutton-style:active{
  box-shadow: 2px 2px 15px #FFF !important;
  transform: translateY(1px) !important;
}

.imgbutton-style:focus{
  outline:0 !important;
}